/**
 * Extra CSS for gallery component.
 */

@media screen and (min-width: 600px) {
    .item-content h1 {
        min-height: 170px;
        margin: auto;
        vertical-align: middle;
        background-color: black;
        color: darkgrey;
    }
    .item-content img {
        max-height: 250px;
        min-height: 120px;
        width: 100%;
    }
    .item-content p {
        font-style: italic;
        font-size: 0.8em;
        color: darkslategray;
    }
}
@media screen and (min-width: 750px) {
    .item-content h1 {
        min-height: 110px;
    }
}
